body {
  background-color: #0f111a;
  color: #dbe1e8;
  font-family: 'Fira Code', monospace;
}

a {
  color: #33c9ff;
}
a:hover {
  color: #00aaff;
  text-decoration: underline;
}

h1, h2, h3 {
  color: #50fa7b;
}

code {
  background: #1e242c;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}
